<%- layout('boilerplate') %>


<h1>Name: <%= pet.name %> </h1>
<h2>Price: $<%= pet.price%></h2>

<div>
    <a href="/pets/<%=pet._id%>/edit">Edit</a>
</div>
<div class="mb-1">
    <form action="/pets/<%=pet._id%>?_method=DELETE" method="POST">
        <button>DELETE</button>
    </form>
</div>

<img src="https://source.unsplash.com/collection/181581" alt="Pet Image">




<!-- https://source.unsplash.com/collection/181581 -->